{{title}}
<!--Centriamo la mappa alle nostre coordinate-->
<google-map [center]="center" width=100%>  
  <!--Mettiamo un marker alle nostre coordinate-->
  <map-marker [position]="position" [label]="label" [title]="title">
  </map-marker>

  <map-marker [position]="position_punto">
  </map-marker>

  <map-circle [center]="position"
              [radius]="50"
              [options] = 'circleOption'>
  </map-circle>

  <map-circle [center]="position_punto"
              [radius]="50"
              [options] = 'circleOption_punto'>
  </map-circle>
</google-map>

<button (click)='colore_giallo()'>Giallo</button>
<button (click)='colore_rosso()'>Rosso</button>
<button (click)='colore_viola()'>Viola</button>